A:link#nav {color:0000ff; text-decoration:underline}
A:visited#nav {color:0000ff; text-decoration:underline}
A:hover#nav {color:ff0000;  text-decoration:underline}
A:active#nav {color:ff0000;  text-decoration:underline;}

.textbox {
width:95%;
max-width:600px;
min-width:295px;
text-align:left;
}

#container {
background-color:#add8e6;
width:98%;
max-width:500px;
min-width:295px;
border-size:1;
border-style:solid;
border-color:#009BC8;
box-shadow: 5px 5px 5px #777;
-moz-box-shadow: 5px 5px 5px #777;
-webkit-box-shadow:5px 5px 5px #777;
-moz-border-radius:7px;
-webkit-border-radius:7px;
-opera-border-radius:7px;
-khtml-border-radius:7px;
border-radius:7px;

padding-top: 10px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;

text-align:center;
}

#targetContainer {
background-color:#add8e6;
width:98%;
max-width:500px;
min-width:295px;
border-size:1;
border-style:solid;
border-color:#009BC8;
box-shadow: 5px 5px 5px #777;
-moz-box-shadow: 5px 5px 5px #777;
-webkit-box-shadow:5px 5px 5px #777;
-moz-border-radius:7px;
-webkit-border-radius:7px;
-opera-border-radius:7px;
-khtml-border-radius:7px;
border-radius:7px;

padding-top: 10px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;

text-align:center;
}

th{text-align:left;
padding-left:6px;
padding-right:6px;
}
td{text-align:left;
padding-left:6px;
padding-right:6px;
padding-bottom:5px;
}

#gpa
{
float:right;
margin-right:15px;
padding: 5 5 5 5;
font-size: 20px;
font-weight: bold;
background-color:#F48B3E;
width: 115px;
border-size:1px;
border-style:solid;
border-color:#F27214;
}

#note {
text-align:center;
font-size: .9em;
}

#weightNote {
text-align:center;
font-size: 1em;
}

#credits
{
float:left;
margin-left:15px;
margin-top:6px;
padding: 5 5 5 5;
font-size: 16px;
font-weight: bold;
background-color:#D6D6D6;
width: 125px;
border-size:1px;
border-style:solid;
border-color:#9B9B9B;
}

#clear{clear:both}

.taptarget {line-height:140%}

@media screen and (max-width: 770px) {
.taptarget {line-height:150%}
}

@media screen and (max-width: 700px) {
.logo {width:190px}
}

@media screen and (max-width: 580px) {
.taptarget {line-height:170%}
}

@media screen and (max-width: 510px) {
.logo {width:160px}
}

fieldset{border:0px;}






div.alert-error {
display: none;
color: #B94A48;
background-color: #F2DEDE;
border-width: 2px;
border-color: #EED3D7;
border-style: solid;
border-radius: 5px;
position: relative;
width: 50%;
margin: 10px;
padding: 5px;
}

div.alert-error button.close {
position: absolute;
right: 0px;
bottom: -3px;
}

#newRow {
display: none;
}


#charttable {
border-size:1px;
border-style:solid;
border-color:#aaaaaa;
}
#chartrowa {
background-color:#ececec;
text-align:center;
padding-top:7px;
padding-bottom:7px;
}
#chartrowb {
background-color:#f9f9f9;
text-align:center;
padding-top:7px;
padding-bottom:7px;
}

#tgc {
  width: 100%;
  text-align: center; }
  #tgc td {
    border: none;
    text-align: center; }
    #tgc td:last-of-type {
      min-width: 140px; }
  #tgc tbody {
    border-bottom: none; }
  #tgc input[type="text"] {
    padding: 6px 8px;
    margin: 0 10%;
    width: 80%;
    text-align: left; }
  #tgc .td-input {
    width: 50%; }
  #tgc .td-span span {
    display: inline-block;
    width: 100%;
    text-align: center; }
  #tgc .calc-button {
    margin: 10px; }
